{% extends 'AppBundle::dashboard-standard.html.twig' %}

{% block title "Create Document" %}

{% block sidebar_actions %}
    <h3>Actions</h3>
    <ul class="nav nav-sidebar">
        <li>
            <a href="{{ path('document') }}">
                List Documents
            </a>
        </li>
    </ul>
{% endblock %}

{% block body_content %}
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/admin-document-new.js') }}"></script>
	<h1>Create Document</h1>
	{{ form_start(form) }}
		{{ form_errors(form) }}
        {{ form_row(form.file) }}
    <h6>File must be less than 10MB</h6>
		{{ form_row(form.description) }}
	{{ form_end(form) }}
    <button id="btn-cancel" class="btn btn-primary" onclick="cancelForm('{{path("document")}}')" alt="Cancel" title="Return without editing this note.">Cancel</button>
{% endblock %}
