{% extends 'AppBundle::dashboard-standard.html.twig' %}

{% block title %}
    Document: {{ entity.name }}
{% endblock %}

{% block sidebar_actions %}
    <h3>Actions</h3>
    <ul class="nav nav-sidebar">
        <li>
            <a href="{{ path('document') }}">
                List Documents
            </a>
            <a href="{{ path('document_edit', { 'id': entity.id }) }}">
                Edit Current Document
            </a>

        </li>
    </ul>
{% endblock %}

{% block body_content %}
    <h3>View Document: {{ entity.name }}</h3>

    <div class="table-responsive">
        <table class="record_properties table table-striped">
            <tbody>
                <tr>
                    <th>Name</th>
                    <td>{{ entity.name }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ entity.description }}</td>
                </tr>
                <tr>
                    <th>Created</th>
                    <td>{{ entity.created|date('Y-m-d H:i:s') }}</td>
                </tr>
                <tr>
                    <th>Modified</th>
                    <td>{{ entity.modified|date('Y-m-d H:i:s') }}</td>
                </tr>
            </tbody>
        </table>
        {{ form(delete_form, {'attr': {'onsubmit': 'return confirm("Are you sure you want to delete?")'}}) }}
    </div>
{% endblock %}
