{% extends 'AppBundle::dashboard-empty-side.html.twig' %}

{% block title %} Edit Project: {{ entity.projectName }} {% endblock %}

{% block body_content %}
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/project-edit.js') }}"></script>

	<h3>Edit Project</h3>

	{{ form_start(edit_form) }}
		{{ form_errors(edit_form) }}

		{{ form_row(edit_form.projectName) }}
        {{ form_row(edit_form.description) }}
        {{ form_row(edit_form.department) }}
	{{ form_end(edit_form) }}

	<button id="btn-cancel" class="btn btn-primary" onclick="cancelForm()" alt="Cancel" title="Cancel editing the form and return to the project list.">Cancel</button>	
{% endblock %}

