{% extends 'AppBundle::dashboard-standard.html.twig' %}

{% block title %} View Project: {{ entity.projectName }} {% endblock %}

{% block sidebar %}
    <div class="col-sm-3 col-md-2 sidebar actions">
        <h4>{{ entity.projectName }}</h4>
        <ul class="nav nav-sidebar">
            {% for step in steps %}                    
                {% if step == entity.step %}
                    <li class="active">
                {% else %}
                    <li>
                {% endif %}
                    <a href="{{ path('project_step', {'id': entity.id, 'stepid': step.id }) }}">
                        <ul>Step {{ step.ordering }}: {{ step.name }}</ul>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block body_content %}
    <h4>Step {{ entity.step.ordering }}: {{ entity.step.name }}</h4>

    <div class="row">
        <div class="col-sm-6 col-md-4  margin: 10px">
            <a href="{{ path('project_section', {'id': entity.id, 'stepid': entity.step.id, 'sectionid': sections['Goals'].id })}}">
                <img src="{{ asset('img/Goals.jpg') }}" alt="Goals">
            </a>

        </div>

        <div class="col-sm-6 col-md-4 ">
            <a href="{{ path('project_section', {'id': entity.id, 'stepid': entity.step.id, 'sectionid': sections['Actions'].id })}}">
                <img src="{{ asset('img/Actions.jpg') }}" alt="Actions">
            </a>
        </div>

        <div class="col-sm-6 col-md-3">
            <a href="{{ path('project_section', {'id': entity.id, 'stepid': entity.step.id, 'sectionid': sections['Connections'].id })}}">
                <img src="{{ asset('img/Connections.jpg') }}" alt="Connections">
            </a>
        </div>

        <div class="col-sm-6 col-md-4"> </div>
        <div class="col-sm-6 col-md-4"> </div> 
        <div class="col-sm-6 col-md-4"> </div>

        <div class="col-sm-6 col-md-4">
            <a href="{{ path('project_section', {'id': entity.id, 'stepid': entity.step.id, 'sectionid': sections['Resources'].id })}}">
                <img src="{{ asset('img/ResourcesWithMargin.jpg') }}" alt="Resources">
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="{{ path('project_section', {'id': entity.id, 'stepid': entity.step.id, 'sectionid': sections['Tools'].id })}}">
                <img src="{{ asset('img/ToolsWithMargin.jpg') }}" alt="Tools">
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="{{ path('project_section', {'id': entity.id, 'stepid': entity.step.id, 'sectionid': sections['Outcomes'].id })}}">
                <img src="{{ asset('img/OutcomesWithMargin.jpg') }}" alt="Outcomes">
            </a>
        </div>
    </div>
{% endblock %}
