{% extends 'AppBundle::dashboard-empty-side.html.twig' %}

{% block title "My Projects" %}

{% block body_content %}
    {% include 'BraincraftedBootstrapBundle::flash.html.twig' %}

    <h3>My Projects</h3>

    <div class="table-responsive">
        <table class="records_list table table-hover">
            <thead>
                <tr>
                    <th>Project Name</th>
                    <th>Created</th>
                    <th>Modified</th>
                    <th>Stage</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('project_home', { 'id': entity.id }) }}">{{ entity.projectName }}</a> </td>
                    <td>{% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{% if entity.modified %}{{ entity.modified|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{ entity.step }}</td>
                    <td>
                        {% if entity.section is null %}
                            <a href="{{ path('project_home', { 'id': entity.id }) }}">Edit</a>
                        {% else %}
                            <a href="{{ path('project_section', { 'id': entity.id, 'stepid': entity.step.id, 'sectionid': entity.section.id }) }}">Edit</a> 
                        {% endif %}
                        |
                        <a href="{{ path('project_share', { 'id': entity.id }) }}">Share</a> |
                        <a href="{{ path('project_delete', { 'id': entity.id }) }}"onclick="return confirm('Are you sure you want to delete?')">Delete</a> |
                        <a href="{{ path('project_edit', { 'id': entity.id }) }}">Project Details</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <h3>Shared Projects</h3>
    <div class="table-responsive">
        <table class="records_list table table-hover">
            <thead>
                <tr>
                    <th>Project Name</th>
                    <th>Created</th>
                    <th>Modified</th>
                    <th>Stage</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in shared %}
                <tr>
                    <td>{{ entity.project.projectName }}</td>
                    <td>{% if entity.project.created %}{{ entity.project.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{% if entity.project.modified %}{{ entity.project.modified|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{ entity.project.step }}</td>
                    <td>
                        <a href="{{ path('project_home', { 'id': entity.project.id }) }}">Edit</a> |
                        <a href="{{ path('project_share', { 'id': entity.project.id }) }}">Share</a> |
                        {#< a href="{{ path('project_delete', { 'id': entity.project.id }) }}">Delete</a> | #}
                        <a href="{{ path('project_edit', { 'id': entity.project.id }) }}">Project Details</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>        

    {% if pending >= 0 %}
        <div class="table-responsive">
            <table class="records_list table table-hover">
                <thead> </thead>
                <tbody>
                    <b>Pending Invitations - 
                        <a href="{{ path('project_pending') }}">
                            <span class="badge"> {{ pending }} </span>
                        </a>
                    </b>
                </tbody>
            </table>
        </div>
    {% endif %}

    <div class="table-responsive">        
        <h4><a href="{{ path('project_new') }}">Create New Project</a></h4>
    </div>      
{% endblock %}
