{% extends 'AppBundle::dashboard-standard.html.twig' %}

{% block title "Create New Project" %}

{% block sidebar_actions %}
    <h3>Actions</h3>
{#     <ul class="nav nav-sidebar">
        <li>
            <a href="{{ path('layout') }}">
                List Layouts
            </a>
        </li>
    </ul> #}
{% endblock %}

{% block body_content %}
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/project-new.js') }}"></script>
	<h1>Create New Project</h1>
	{{ form_start(form) }}
		{{ form_errors(form) }}
		{{ form_row(form.projectName) }}
		{{ form_row(form.description) }}
		{{ form_row(form.department) }}
	{{ form_end(form) }}
    <button id="btn-cancel" class="btn btn-primary" onclick="cancelForm('{{ path("project") }}')" alt="Cancel" title="Cancel editing the form and return to the project list.">Cancel</button>
{% endblock %}
