{% extends 'AppBundle::dashboard-standard.html.twig' %}

{% block title "Pending Projects" %}

{% block sidebar_actions %}

{% endblock %}

{% block body_content %}
    {% include 'BraincraftedBootstrapBundle::flash.html.twig' %}
    
    <h3>Pending Projects</h3>

    <div class="table-responsive">
        <table class="records_list table table-striped">
            <thead>
                <tr>
                    <th>Project Name</th>
                    <th>Project Owner</th>
                    <th>Created Date</th>
                    <th class="actions">Accept/Reject</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.project.projectName }}</td>
                    <td>{{ entity.project.owner.displayName }}</td>
                    <td>{% if entity.project.created %}{{ entity.project.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>
                        <a href="{{ path('project_accept', { 'id': entity.id }) }}">Accept</a> |
                        <a href="{{ path('project_reject', { 'id': entity.id }) }}">Reject</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div> 
{% endblock %}
