{% extends 'AppBundle::dashboard-standard.html.twig' %}

{% block title %} View Project: {{ entity.projectName }} {% endblock %}

{% block sidebar %}
    <div class="col-sm-3 col-md-2 sidebar actions">
        <h4>{{ entity.projectName }}</h4>
        <ul class="nav nav-sidebar">
            {% for step in steps %}                    
                {% if step == entity.step %}
                    <li class="active">
                {% else %}
                    <li>
                {% endif %}
                    <a href="{{ path('project_step', {'id': entity.id, 'stepid': step.id }) }}">
                        <ul>Step {{ step.ordering }}: {{ step.name }}</ul>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block body_content %}
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/project-section.js') }}"></script>

    <h4>Step {{ entity.step.ordering }}: {{ entity.step.name }}, {{ entity.section.name }} </h4>

    {% if priorStep is null %}
        {% if priorSection is not null %}    
            Prior: <a href="{{ path('project_section', {'id': entity.id, 'stepid':entity.step.id, 'sectionid':priorSection.id}) }}">{{priorSection.name}}</a>
        {% endif %}
    {% else %}
        Prior: <a href="{{ path('project_section', {'id': entity.id, 'stepid':priorStep.id, 'sectionid':priorSection.id}) }}">{{priorStep.name}}, {{priorSection.name}}</a>
    {% endif %}

    {% if nextStep is null %}
        {% if nextSection is not null %}    
            Next: <a href="{{ path('project_section', {'id': entity.id, 'stepid':entity.step.id, 'sectionid':nextSection.id}) }}">{{nextSection.name}}</a>
        {% endif %}
    {% else %}
        Next: <a href="{{ path('project_section', {'id': entity.id, 'stepid':nextStep.id, 'sectionid':nextSection.id}) }}">{{nextStep.name}}, {{nextSection.name}}</a>
    {% endif %}

    {% include 'BraincraftedBootstrapBundle::flash.html.twig' %}

    <div class="table-responsive">
        <table class="record_properties table table-hover">
            <tbody>
                {% for item in layoutItems %}
                    <tr>
                        <td>
                            {% if entity.itemStatus[item.id] %}
                                <button id="btn-{{item.id}}" class="btn-success" onclick="markIncomplete({{item.id}})" alt="Mark Incomplete" title="Mark this item as being incomplete.">Complete</button>
                            {% else %}
                                <button id="btn-{{item.id}}" class="btn-default" onclick="markComplete({{item.id}})" alt="Mark Complete" title="Mark this item as being complete.">Complete</button>
                            {% endif %}
                        </td>                            
                        <td>
                            {% if item is staticMarkdown %}
                                {{ item.staticItem.contents|markdown }}
                            {% elseif item is contact %}
                                <strong>Contact:</strong> <br />
                                {{ item.contact.displayName}}
                                {% if item.contact.contactPhone %} 
                                    {{ item.contact.contactPhone}}
                                {% endif %}
                                {% if item.contact.officeLocation %}
                                    {{ item.contact.officeLocation}}
                                {% endif %}
                                {% if item.contact.contactEmail %}
                                    <a href="mailto:{{ item.contact.contactEmail }}">{{ item.contact.contactEmail}}</a> 
                                {% endif %}
                            {% elseif item is role %}
                                <strong>Role:</strong> {{ item.role.roleName }}
                                <ul>
                                    {% for contact in item.role.contactsForRole(entity.department) %}
                                        <li>
                                            {{ contact.displayName }}
                                            {% if contact.contactPhone %} {{ contact.contactPhone }} {% endif %}
                                            {% if contact.officeLocation %} {{ contact.officeLocation }} {% endif %}
                                            {% if contact.contactEmail %} 
                                                <a href="mailto:{{contact.contactEmail}}">{{ contact.contactEmail }}</a> {% endif %}
                                        </li>                                        
                                    {% endfor %}
                                </ul>
                            {% elseif item is document %}
                                <strong>Document:</strong> 
                                <a href="/{{item.document.getWebPath}}" {% if item.document.description %}title="{{ item.document.description }}" {% endif %} target="_blank">{{ item.document.name }}</a>
                            {% elseif item is link %}
                                <strong>Link: </strong><a href="{{ item.link.link }}" target="_blank" {% if item.link.description %}title="{{ item.link.description }}" {% endif %}>{{ item.link.name }}</a>
                            {% elseif item is libraryResource %}
                                <strong>Library Databases</strong>
                                <div class="table-responsive">
                                    <table class="record_properties table table-hover">
                                        <tbody>
                                            {% for db in dbPriority %}
                                            <tr>
                                                <td><a href="{{db.getLibraryLink}}" target="_blank" title="{{db.getDescription}}">{{ db.title }}</a></td>
                                            </tr>
                                            {% endfor %}
                                            {% for db in dbList %}
                                            <tr>
                                                <td><a href="{{db.getLibraryLink}}" target="_blank" title="{{db.getDescription}}">{{ db.title }}</a></td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% endif %}                
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% if layoutItems is not empty %}
        {{ form(form) }}
    {% endif %}

    <h4>Documents</h4>
    <div class="table-responsive">
        <table class="record_properties table table-hover">
            <tbody>
                {% for doc in documents %}
                    <tr>
                        <td>
                            <a href="/{{ doc.webPath }}" target="_blank">{{ doc.name }}</a>
                        </td>
                        <td>
                            {{ doc.created|date('Y-m-d H:i:s') }}
                        </td>
                        <td>
                            {{ doc.modified|date('Y-m-d H:i:s') }}
                        </td>
                        <td>
                            Replace | <a href="{{ path('projectdocument_delete', {'id':doc.id}) }}" onclick="return confirm('Are you sure you want to delete?')">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{path('projectdocument_new',{ 'projectid' : entity.id, 'stepid' : entity.step.id, 'sectionid' : entity.section.id })}}">Add New Document</a>
    </div>

    <h4>Notes</h4>
    <div class="table-responsive">
        <table class="record_properties table table-hover">
            <tbody>
                {% for note in notes %}
                    <tr>
                        <td>
                            {{ note.contents }}
                        </td>
                        <td>
                            {{ note.created|date('Y-m-d H:i:s') }}
                        </td>
                        <td>
                            {{ note.modified|date('Y-m-d H:i:s') }}
                        </td>
                        <td>
                            <a href="{{ path('projectnote_edit', {'id':note.id }) }}">Edit</a>
                            | 
                            <a href="{{ path('projectnote_delete', {'id':note.id}) }}" onclick="return confirm('Are you sure you want to delete?')">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{path('projectnote_new',{ 'projectid' : entity.id, 'stepid' : entity.step.id, 'sectionid' : entity.section.id })}}">Add New Note</a>
    </div>
{% endblock %}
