{% extends 'AppBundle::dashboard-empty-side.html.twig' %}

{% block title %} Share Project: {{ project.projectName }} {% endblock %}

{% block body_content %}
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/project-share.js') }}"></script>

	<h3>Share Project: {{ project.projectName }}</h3>

	<p>Enter the email address for each collaborator. To add multiple collaborators, separate
		the addresses with a comma. At most 30 addresses can be entered at a time.</p>
	{{ form_start(entry_form) }}
		{{ form_errors(entry_form) }}

		{{ form_row(entry_form.text) }}
	{{ form_end(entry_form) }}

	<button id="btn-cancel" class="btn btn-primary" onclick="cancelForm()" alt="Cancel" title="Return to the project list without sharing this project.">Cancel</button>

	{% if project.sharedProjects is not empty %}
		<h3>Sharing Status</h3>
	    <div class="table-responsive">
	        <table class="records_list table table-hover">
	            <thead>
	                <tr>
	                    <th>Collaborator</th>
	                    <th>Email</th>
	                    <th>Date Shared</th>
	                    <th>Status</th>
	                </tr>
	            </thead>
	            <tbody>
	            {% for sp in project.sharedProjects %}
	                <tr>
	                	<td>{% if sp.user %}{{ sp.user.displayName }}{% else %}Not Registered{% endif %}</td>
	                	<td>{{ sp.email }}</td>
	                	<td>{% if sp.created %}{{ sp.created|date('Y-m-d H:i:s') }}{% endif %}</td>
	                    <td>{% if sp.accepted == 1 %}
	                    		Not Yet Replied 
	                    	{% elseif sp.accepted == 2 %}
	                    		Accepted
	                    	{% else %}
	                    		Declined
	                    	{% endif %}
	                    </td>
	                </tr>
	            {% endfor %}
	            </tbody>
	        </table>
	    </div>	
	{% endif %}
{% endblock %}

