<h3>Project Shared</h3>

{{ name }} has shared project {{ projectName }} with you. To accept or decline
this invitation, log in to Research Compass at <a href="https://researchcompass.ecu.edu">
https://researchcompass.ecu.edu</a> and click on Pending Invitations.
