{% extends 'AppBundle::dashboard-standard.html.twig' %}

{% block title %} View Project: {{ entity.projectName }} {% endblock %}

{% block sidebar_actions %}
    <h3>Actions</h3>
    <ul class="nav nav-sidebar">
        <li>
            <a href="{{ path('project') }}">
                List Projects
            </a>
            <a href="{{ path('project_edit', { 'id': entity.id }) }}">
                Edit Current Project
            </a>
        </li>
    </ul>
{% endblock %}

{% block body_content %}
    {% include 'BraincraftedBootstrapBundle::flash.html.twig' %}

    <h1>View Project: {{ entity.projectName }}</h1>

    <div class="table-responsive">
        <table class="record_properties table table-striped">
            <tbody>
                <tr>
                    <th>Owner</th>
                    <td>{{ entity.owner.displayName }}</td>
                </tr>
                <tr>
                    <th>Project Name</th>
                    <td>{{ entity.projectName }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ entity.description }}</td>
                </tr>
                <tr>
                    <th>Created</th>
                    <td>{{ entity.created|date('Y-m-d H:i:s') }}</td>
                </tr>
                <tr>
                    <th>Modified</th>
                    <td>{{ entity.modified|date('Y-m-d H:i:s') }}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
