{% extends 'AppBundle::dashboard-standard.html.twig' %}

{% block title "Contacts" %}

{% block sidebar_actions %}
    <h3>Actions</h3>
    <ul class="nav nav-sidebar">
        <li>
            <a href="{{ path('contact_new') }}">
                Create Contact
            </a>
        </li>
    </ul>
{% endblock %}

{% block body_content %}
    <h1>Contacts</h1>
    <div class="table-responsive">
        <table class="records_list table table-striped">

            <thead>
                <tr>
                    <th>Display Name</th>
                    <th>Last</th>
                    <th>First</th>
                    <th>MI</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Office Location</th>
                    <th>Created</th>
                    <th>Modified</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('contact_show', { 'id': entity.id }) }}">{{ entity.displayName }}</a></td>
                    <td>{{ entity.lastName }}</td>
                    <td>{{ entity.firstName }}</td>
                    <td>{{ entity.middleName }}</td>
                    <td><a href="mailto:{{ entity.contactEmail }}">{{ entity.contactEmail }}</a></td>
                    <td>{{ entity.contactPhone }}</td>
                    <td>{{ entity.officeLocation }}</td>
                    <td>{% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{% if entity.modified %}{{ entity.modified|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>
                    <ul>
                        <li>
                            <a href="{{ path('contact_show', { 'id': entity.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('contact_edit', { 'id': entity.id }) }}">edit</a>
                        </li>
                    </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
