{% extends 'AppBundle::dashboard-standard.html.twig' %}

{% block title "Create Contact" %}

{% block sidebar_actions %}
    <h3>Actions</h3>
    <ul class="nav nav-sidebar">
        <li>
            <a href="{{ path('contact') }}">
                List Contacts
            </a>
        </li>
    </ul>
{% endblock %}

{% block body_content %}
	<h1>Create Contact</h1>
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/admin-contact-new.js') }}"></script>
	{{ form_start(form) }}
		{{ form_errors(form) }}
		{{ form_row(form.firstName) }}
		{{ form_row(form.middleName) }}
		{{ form_row(form.lastName) }}
		{{ form_row(form.displayName) }}
		{{ form_row(form.contactEmail) }}
		{{ form_row(form.contactPhone) }}
        {{ form_row(form.officeLocation) }}
	{{ form_end(form) }}
    <button id="btn-cancel" class="btn btn-primary" onclick="cancelForm('{{path("contact")}}')" alt="Cancel" title="Return without editing this note.">Cancel</button>
{% endblock %}
