{% extends 'AppBundle::dashboard-standard.html.twig' %}

{% block title %}
    Contact: {{ entity.displayName }}
{% endblock %}

{% block sidebar_actions %}
    <h3>Actions</h3>
    <ul class="nav nav-sidebar">
        <li>
            <a href="{{ path('contact') }}">
                List Contacts
            </a>
            <a href="{{ path('contact_edit', { 'id': entity.id }) }}">
                Edit Current Contact
            </a>

        </li>
    </ul>
{% endblock %}

{% block body_content %}
    <h1>View Contact: {{ entity.displayName }}</h1>

    <div class="table-responsive">
        <table class="record_properties table table-striped">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ entity.id }}</td>
                </tr>
                <tr>
                    <th>Lastname</th>
                    <td>{{ entity.lastName }}</td>
                </tr>
                <tr>
                    <th>Firstname</th>
                    <td>{{ entity.firstName }}</td>
                </tr>
                <tr>
                    <th>Middlename</th>
                    <td>{{ entity.middleName }}</td>
                </tr>
                <tr>
                    <th>Displayname</th>
                    <td>{{ entity.displayName }}</td>
                </tr>
                <tr>
                    <th>Contactemail</th>
                    <td><a href="mailto:{{ entity.contactEmail }}">{{ entity.contactEmail }}</a></td>
                </tr>
                <tr>
                    <th>Contactphone</th>
                    <td>{{ entity.contactPhone }}</td>
                </tr>
                <tr>
                    <th>Office Location</th>
                    <td>{{ entity.officeLocation }}</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>{{ entity.status }}</td>
                </tr>
                <tr>
                    <th>Created</th>
                    <td>{{ entity.created|date('Y-m-d H:i:s') }}</td>
                </tr>
                <tr>
                    <th>Modified</th>
                    <td>{{ entity.modified|date('Y-m-d H:i:s') }}</td>
                </tr>
            </tbody>
        </table>
        {{ form(delete_form, {'attr': {'onsubmit': 'return confirm("Are you sure you want to delete?")'}}) }}
    </div>
{% endblock %}
