{% extends 'AppBundle::dashboard.html.twig' %}

{% block sidebar %}
    <div class="col-sm-2 col-md-2 sidebar">
		{% block sidebar_actions %}
		{% endblock %}
    </div>
{% endblock %}

{% block body_pane %}
	<div class="col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2 main">
		{% block body_content %}
		{% endblock %}
	</div>
{% endblock %}
