{% extends 'AppBundle::dashboard.html.twig' %}

{% block sidebar %}
    <div class="col-sm-1 col-md-1 sidebar">
    </div>
{% endblock %}

{% block body_pane %}
	<div class="col-sm-11 col-sm-offset-1 col-md-11 col-md-offset-1 main">
		{% block body_content %}
		{% endblock %}
	</div>
{% endblock %}
