{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" media="screen"/>
    <link rel="stylesheet" href="{{ asset('css/bootstrap-theme.css') }}" media="screen"/>
    <link rel="stylesheet" href="{{ asset('css/dashboard.css') }}" media="screen"/>
    <link rel="stylesheet" href="{{ asset('css/compass.css') }}" media="screen"/>
{% endblock %}

{% block body %}
	{% block navbar %}
	    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	      <div class="container-fluid">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <img src="{{ asset('img/ResearchCompass-Logo-White-4.png') }}" alt="My Projects">
	          {# <a class="navbar-brand" href="#">Research Compass</a> #}
	        </div>
	        <div id="navbar" class="navbar-collapse collapse">
	          <ul class="nav navbar-nav navbar-right">
	          	{% if app.user is not null and is_granted('IS_AUTHENTICATED_FULLY') %}
{# 		          	<li>
		          		<a href="#">
		          		{{ app.user.username }}
		          		</a>
		          	</li>
 #}		            <li><a href="{{ path('project') }}">Projects</a></li>
		            <li><a href="{{ path('user_profile',{'username':app.user.username}) }}">{{ app.user.username }}</a></li>
		            {% if is_granted('ROLE_ADMIN') %}
		            	<li><a href="{{ path('admin_home') }}">Admin</a></li>
		            {% endif %}
		            <li><a href="{{ path('logout') }}">Logout</a></li>
		        {% endif %}
	            {# <li><a href="#">Help</a></li> #}
	          </ul>
	        </div>
	      </div>
	    </nav>
	{% endblock %}
	<div class="container-fluid">
	    <div class="row">	
			{% block sidebar %}
			{% endblock %}
    {% block body_pane %}
    {% endblock %}
{% endblock %}
