{% extends 'AppBundle::dashboard-standard.html.twig' %}

{% block title %} Edit Library Databases {% endblock %}

{% block sidebar_actions %}
    <h3>Actions</h3>
    <ul class="nav nav-sidebar">
        <li>
            <a href="{{ path('libraryresource') }}">
                List Library Databases
            </a>
        </li>
        <li>
            <a href="{{ path('libraryresource_show', { 'id': entity.id }) }}">
                Show This Database
            </a>
        </li>
    </ul>
{% endblock %}

{% block body_content %}
	<h3>Edit Library Database: {{ entity.title }}</h3>
	{{ form(edit_form) }}
    {{ form(delete_form, {'attr': {'onsubmit': 'return confirm("Are you sure you want to delete?")'}}) }}
    <a href="{{ path('libraryresource') }}">Cancel</a>
{% endblock %}
