{% extends 'AppBundle::dashboard-standard.html.twig' %}

{% block title "Library Databases" %}

{% block sidebar_actions %}
    <h3>Actions</h3>
    <ul class="nav nav-sidebar">
        <li>
            <a href="{{ path('libraryresource_new') }}">
                Create Library Database
            </a>
        </li>
    </ul>
{% endblock %}

{% block body_content %}
    <h3>Library Databases</h3>
    <div class="table-responsive">
        <table class="records_list table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('libraryresource_show', { 'id': entity.id }) }}">{{ entity.givenId }}</a></td>
                    <td><a href="{{ path('libraryresource_show', { 'id': entity.id }) }}">{{ entity.title }}</a></td>
                    <td>{{ entity.description }}</td>
                    <td>
                    <ul>
                        <li>
                            <a href="{{ path('libraryresource_show', { 'id': entity.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('libraryresource_edit', { 'id': entity.id }) }}">edit</a>
                        </li>
                    </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}