{% extends 'AppBundle::dashboard-standard.html.twig' %}

{% block title "Create Library Database" %}

{% block sidebar_actions %}
    <h3>Actions</h3>
    <ul class="nav nav-sidebar">
        <li>
            <a href="{{ path('libraryresource') }}">
                List Library Databases
            </a>
        </li>
    </ul>
{% endblock %}

{% block body_content %}
	<h3>Create Library Database</h3>
	{{ form_start(form) }}
		{{ form_errors(form) }}
		{{ form_row(form.givenId) }}
        {{ form_row(form.title) }}
        {{ form_row(form.description) }}
        {{ form_row(form.libraryLink) }}
        {{ form_row(form.directLink) }}
        {{ form_row(form.format) }}
        {{ form_row(form.tag) }}
        {{ form_row(form.subjects) }}
	{{ form_end(form) }}
{% endblock %}

