{% extends 'AppBundle::dashboard-standard.html.twig' %}

{% block title %}
    Library Database: {{ entity.title }}
{% endblock %}

{% block sidebar_actions %}
    <h3>Actions</h3>
    <ul class="nav nav-sidebar">
        <li>
            <a href="{{ path('libraryresource') }}">
                List Library Databases
            </a>
            <a href="{{ path('libraryresource_edit', { 'id': entity.id }) }}">
                Edit This Database
            </a>

        </li>
    </ul>
{% endblock %}

{% block body_content %}
    <h3>View Library Database Details: {{ entity.title }}</h3>

    <div class="table-responsive">
        <table class="record_properties table table-striped">
            <tbody>
{#                 <tr>
                    <th>Id</th>
                    <td>{{ entity.id }}</td>
                </tr>
 #}                <tr>
                    <th>Id</th>
                    <td>{{ entity.givenId }}</td>
                </tr>
                <tr>
                    <th>Title</th>
                    <td>{{ entity.title }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ entity.description }}</td>
                </tr>
                <tr>
                    <th>Library Link</th>
                    <td><a href="{{ entity.libraryLink }}" target="_blank">{{ entity.libraryLink }}</a></td>
                </tr>
                <tr>
                    <th>Direct Link</th>
                    <td><a href="{{ entity.directLink }}" target="_blank">{{ entity.directLink }}</a></td>
                </tr>
                <tr>
                    <th>Format</th>
                    <td>{{ entity.format }}</td>
                </tr>
                <tr>
                    <th>Tag</th>
                    <td>{{ entity.tag }}</td>
                </tr>
{#                 <tr>
                    <th>Subjects</th>
                    <td>{{ entity.subjects }}</td>
                </tr>
 #}{#                 <tr>
                    <th>Status</th>
                    <td>{{ entity.status }}</td>
                </tr> #}
                <tr>
                    <th>Created</th>
                    <td>{{ entity.created|date('Y-m-d H:i:s') }}</td>
                </tr>
                <tr>
                    <th>Modified</th>
                    <td>{{ entity.modified|date('Y-m-d H:i:s') }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    {{ form(delete_form, {'attr': {'onsubmit': 'return confirm("Are you sure you want to delete this library database record?")'}}) }}

    <h3>Colleges Using this Database</h3>
    <div class="table-responsive">
        <table class="records_list table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Priority?</th>
                </tr>
            </thead>
            <tbody>
            {% for college in entity.colleges %}
                <tr>
                    <td><a href="{{ path('college_show', { 'id': college.college.id }) }}">{{ college.college.name }}</a></td>
                    <td>{% if college.priority %}Yes{% else %}No{% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <h3>Departments Using this Database</h3>
    <div class="table-responsive">
        <table class="records_list table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Priority?</th>
                </tr>
            </thead>
            <tbody>
            {% for department in entity.departments %}
                <tr>
                    <td><a href="{{ path('department_show', { 'id': department.department.id }) }}">{{ department.department.name }}</a></td>
                    <td>{% if department.priority %}Yes{% else %}No{% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
