{% extends 'AppBundle::dashboard-standard.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" media="screen"/>
    <link rel="stylesheet" href="{{ asset('css/bootstrap-theme.css') }}" media="screen"/>
    <link rel="stylesheet" href="{{ asset('css/dashboard.css') }}" media="screen"/>
    <link rel="stylesheet" href="{{ asset('css/bootstrap-markdown.min.css') }}" media="screen"/>
{% endblock %}

{% block title %} "Edit Item: " {{ entity.name }} {% endblock %}

{% block sidebar_actions %}
    <h3>Actions</h3>
    <ul class="nav nav-sidebar">
        <li>
            <a href="{{ path('staticitem') }}">
                List Items
            </a>
        </li>
    </ul>
{% endblock %}

{% block body_content %}
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/admin-staticitem-edit.js') }}"></script>
	<h1>Edit Item: {{ entity.name }}</h1>

	{{ form_start(edit_form) }}
		{{ form_errors(edit_form) }}

		{{ form_row(edit_form.name) }}
        {{ form_row(edit_form.step) }}
        {{ form_row(edit_form.stepSection) }}
    	{{ form_row(edit_form.contents, {'attr' : {'data-provide': 'markdown'}}) }}
	{{ form_end(edit_form) }}
    <button id="btn-cancel" class="btn btn-primary" onclick="cancelForm('{{path("staticitem")}}')" alt="Cancel" title="Return without editing this note.">Cancel</button>
{% endblock %}

{% block javascripts %}
    <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
    <script src="{{ asset('js/jquery.js') }}"></script>
    <!-- Include all JavaScripts, compiled by Assetic -->
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    <script src="{{ asset('js/markdown.js') }}"></script>
    <script src="{{ asset('js/bootstrap-markdown.js') }}"></script>
{% endblock %}