{% extends 'AppBundle::dashboard-standard.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" media="screen"/>
    <link rel="stylesheet" href="{{ asset('css/bootstrap-theme.css') }}" media="screen"/>
    <link rel="stylesheet" href="{{ asset('css/dashboard.css') }}" media="screen"/>
    <link rel="stylesheet" href="{{ asset('css/bootstrap-markdown.min.css') }}" media="screen"/>
{% endblock %}

{% block title "Create Static Markdown Item" %}

{% block sidebar_actions %}
    <h3>Actions</h3>
    <ul class="nav nav-sidebar">
        <li>
            <a href="{{ path('staticitem') }}">
                List Items
            </a>
        </li>
    </ul>
{% endblock %}

{% block body_content %}
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/admin-staticitem-new.js') }}"></script>
	<h1>Create Item</h1>

	{{ form_start(form) }}
		{{ form_errors(form) }}

		{{ form_row(form.name) }}
        {{ form_row(form.step) }}
        {{ form_row(form.stepSection) }}
    	{{ form_row(form.contents, {'attr' : {'data-provide': 'markdown'}}) }}
	{{ form_end(form) }}
    <button id="btn-cancel" class="btn btn-primary" onclick="cancelForm('{{path("staticitem")}}')" alt="Cancel" title="Return without editing this note.">Cancel</button>
{% endblock %}

{% block javascripts %}
    <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
    <script src="{{ asset('js/jquery.js') }}"></script>
    <!-- Include all JavaScripts, compiled by Assetic -->
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    <script src="{{ asset('js/markdown.js') }}"></script>
    <script src="{{ asset('js/bootstrap-markdown.js') }}"></script>
{% endblock %}