{% extends 'AppBundle::dashboard-standard.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" media="screen"/>
    <link rel="stylesheet" href="{{ asset('css/bootstrap-theme.css') }}" media="screen"/>
    <link rel="stylesheet" href="{{ asset('css/dashboard.css') }}" media="screen"/>
    <link rel="stylesheet" href="{{ asset('css/bootstrap-markdown.min.css') }}" media="screen"/>
{% endblock %}

{% block title %} Markdown Item: {{ entity.name }} {% endblock %}

{% block sidebar_actions %}
    <h3>Actions</h3>
    <ul class="nav nav-sidebar">
        <li>
            <a href="{{ path('staticitem') }}">
                List Items
            </a>
        </li>
        <li>
            <a href="{{ path('staticitem_edit', { 'id': entity.id }) }}">
                Edit This Item
            </a>
        </li>        
    </ul>
{% endblock %}

{% block body_content %}
    <h1>View Markdown Item {{ entity.name }}</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Created On</th>
                <td>{{ entity.created|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Last Modified On</th>
                <td>{{ entity.modified|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Contents</th>
                <td>{{ entity.contents|markdown }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>{{ form(delete_form, {'attr': {'onsubmit': 'return confirm("Are you sure you want to delete?")'}}) }}</li>
    </ul>
{% endblock %}
