{% extends 'AppBundle::dashboard-standard.html.twig' %}

{% block title "Import Document" %}

{% block body_content %}
	<h4>Select Document</h4>
	{{ form_start(form) }}
		{{ form_errors(form) }}
		{{ form_row(form.file) }}
    <h6>File must be less than 10MB</h6>
	{{ form_end(form) }}
	<a href="{{ path('project_section', {id:entity.project.id, stepid:entity.step.id, sectionid: entity.section.id}) }}">Cancel</a>
{% endblock %}
