{% extends 'AppBundle::dashboard-empty-side.html.twig' %}

{% block title "Research Compass Administration" %}

{% block body_content %}
    <h1>Research Compass Administration</h1>
    <div class="table-responsive">
        <table class="record_properties table table-hover">
            <tbody>
            	<tr>
            		<td>
            			<a href="{{ path('college') }}">
            				Colleges
            			</a>
            		</td>
            	</tr>
            	<tr>
            		<td>
            			<a href="{{ path('department') }}">
            				Departments
            			</a>
            		</td>
            	</tr>
            	<tr>
            		<td>
            			<a href="{{ path('contact') }}">
            				Contacts
            			</a>
            		</td>
            	</tr>
            	<tr>
            		<td>
            			<a href="{{ path('role') }}">
            				Roles
            			</a>
            		</td>
            	</tr>
            	<tr>
            		<td>
            			<a href="{{ path('step') }}">
            				Steps
            			</a>
            		</td>
            	</tr>
            	<tr>
            		<td>
            			<a href="{{ path('stepsection') }}">
            				Sections
            			</a>
            		</td>
            	</tr>
            	<tr>
            		<td>
            			<a href="{{ path('user') }}">
            				Users
            			</a>
            		</td>
            	</tr>
            	<tr>
            		<td>
            			<a href="{{ path('group') }}">
            				Groups
            			</a>
            		</td>
            	</tr>
            	<tr>
            		<td>
            			<a href="{{ path('layout') }}">
            				Layouts
            			</a>
            		</td>
            	</tr>
            	<tr>
            		<td>
            			<a href="{{ path('staticitem') }}">
            				Static Markdown Items
            			</a>
            		</td>
            	</tr>
            	<tr>
            		<td>
            			<a href="{{ path('document') }}">
            				Documents
            			</a>
            		</td>
            	</tr>
            	<tr>
            		<td>
            			<a href="{{ path('link') }}">
            				Links
            			</a>
            		</td>
            	</tr>
                <tr>
                    <td>
                        <a href="{{ path('libraryresource') }}">
                            Library Databases
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="{{ path('alloweduser') }}">
                            Allowed Users
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}