{% extends 'AppBundle::dashboard-standard.html.twig' %}

{% block title "Research Compass" %}

{% block body_content %}
        <h1>Research Compass</h1>
		<p>Welcome to Research Compass! Click the link below to sign in.</p>
		<a href="{{ loginLink }}">Login</a>
{% endblock %}
