{% extends 'AppBundle::dashboard-standard.html.twig' %}

{% block title "Library Databases" %}

{% block sidebar_actions %}
    <h3>Actions</h3>
    <ul class="nav nav-sidebar">
        <li>
            <a href="{{ path('department_show', { 'id': department.id }) }}">Return to Department</a>
        </li>
    </ul>
{% endblock %}

{% block body_content %}
    <h3>Library Databases</h3>
    <div class="table-responsive">
        <table class="records_list table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
            {% for resource in resources %}
                <tr>
                    <td><a href="{{ path('insert_department_library_resource', { 'id': department.id, 'lrid': resource.id }) }}">{{ resource.givenId }}</a></td>
                    <td><a href="{{ path('insert_department_library_resource', { 'id': department.id, 'lrid': resource.id }) }}">{{ resource.title }}</a></td>
                    <td>{{ resource.description }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}