{% extends 'AppBundle::dashboard-standard.html.twig' %}

{% block title "Departments" %}

{% block sidebar_actions %}
    <h3>Actions</h3>
    <ul class="nav nav-sidebar">
        <li>
            <a href="{{ path('department_new') }}">
                Create Department
            </a>
        </li>
    </ul>
{% endblock %}

{% block body_content %}
    {{ knp_pagination_render(pagination) }}

    <h1>Departments</h1>
    <div class="table-responsive">
        <table class="records_list table table-striped">
            <thead>
                <tr>
                    {# <th>Id</th> #}
                    {#<th>College</th>#}
                    {#<th>{{ knp_pagination_sortable(pagination, 'College', 'd.College.name') }}</th>#}
                    <th{% if pagination.isSorted('c.name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'College', 'c.name') }}</th>
                    {#<th>Department</th>#}
                    {# <th>{{ knp_pagination_sortable(pagination, 'Department', 'd.department') }}</th>#}
                    <th{% if pagination.isSorted('d.name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Department', 'd.name') }}</th>

                    {# <th>Status</th> #}
                    <th>Created</th>
                    <th>Modified</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in pagination %}
                <tr>
                    {# <td><a href="{{ path('department_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td> #}
                    <td><a href="{{ path('college_show', { 'id': entity.college.id }) }}">{{ entity.college.name }}</a></td>
                    <td><a href="{{ path('department_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                    {# <td>{{ entity.status }}</td> #}
                    <td>{% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{% if entity.modified %}{{ entity.modified|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>
                    <ul>
                        <li>
                            <a href="{{ path('department_show', { 'id': entity.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('department_edit', { 'id': entity.id }) }}">edit</a>
                        </li>
                    </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {{ knp_pagination_render(pagination) }}
{% endblock %}
