{% extends 'AppBundle::dashboard-standard.html.twig' %}

{% block title %}
    Department: {{ entity.name }}
{% endblock %}

{% block sidebar_actions %}
    <h3>Actions</h3>
    <ul class="nav nav-sidebar">
        <li>
            <a href="{{ path('department') }}">
                List Departments
            </a>
        </li>
        <li>
            <a href="{{ path('department_edit', { 'id': entity.id }) }}">
                Edit Current Department
            </a>
        </li>
        <li>
            <a href="{{ path('college_show', { 'id': entity.college.id }) }}">
                Show College
            </a>
        </li>
        <li>
            <a href="{{ path('add_department_library_resource', { 'id': entity.id }) }}">Add Resource</a>
        </li>        
    </ul>
{% endblock %}

{% block body_content %}
    <h3>View Department: {{ entity.name }}</h3>

    <div class="table-responsive">
        <table class="record_properties table table-striped">
            <tbody>
                <tr>
                    <th>Created</th>
                    <td>{{ entity.created|date('Y-m-d H:i:s') }}</td>
                </tr>
                <tr>
                    <th>Modified</th>
                    <td>{{ entity.modified|date('Y-m-d H:i:s') }}</td>
                </tr>
            </tbody>
        </table>
        {{ form(delete_form, {'attr': {'onsubmit': 'return confirm("Are you sure you want to delete?")'}}) }}
    </div>

    <h3>Department-Specific Library Resources</h3>
    <div class="table-responsive">
        <table class="record_properties table table-hover">
            <thead>
                <tr>
                    <td>Database Name</td>
                    <td>Priority</td>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody>
                {% for db in deptPriority %}
                <tr>
                    <td><a href="{{ path('libraryresource_show', { 'id': db.resource.id }) }}">{{ db.resource.title }}</a></td>
                    <td>Yes</td>
                    <td>
                        <ul>
                            <li><a href="{{ path('toggle_department_library_resource_priority', {'id':entity.id, 'lrid':db.id}) }}">Toggle Priority</a>
                            <li><a href="{{ path('remove_department_library_resource', {'id':entity.id, 'lrid':db.id}) }}">Delete</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                {% endfor %}
                {% for db in deptList %}
                <tr>
                    <td><a href="{{ path('libraryresource_show', { 'id': db.resource.id }) }}">{{ db.resource.title }}</a></td>
                    <td>No</td>
                    <td>
                        <ul>
                            <li><a href="{{ path('toggle_department_library_resource_priority', {'id':entity.id, 'lrid':db.id}) }}">Toggle Priority</a>
                            <li><a href="{{ path('remove_department_library_resource', {'id':entity.id, 'lrid':db.id}) }}">Delete</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <h3>College and Department Library Resources</h3>
    <div class="table-responsive">
        <table class="record_properties table table-hover">
            <thead>
                <tr>
                    <td>Database Name</td>
                    <td>Priority</td>
                </tr>
            </thead>
            <tbody>
                {% for db in dbPriority %}
                <tr>
                    <td><a href="{{ path('libraryresource_show', { 'id': db.resource.id }) }}">{{ db.resource.title }}</a></td>
                    <td>Yes</td>
                </tr>
                {% endfor %}
                {% for db in dbList %}
                <tr>
                    <td><a href="{{ path('libraryresource_show', { 'id': db.resource.id }) }}">{{ db.resource.title }}</a></td>
                    <td>No</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <h3>Roles with Contacts</h3>
    <div class="table-responsive">
        <table class="record_properties table table-hover">
            <tbody>
                {% for r in roles %}
                    {% for c in r.contacts %}
                        <tr>
                            <td>{{r.role.roleName}}</td>
                            <td>{{c.displayName}}
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}


