/* Actions styling from CakePHP */

div.actions {
	float:left;
	width:16%;
	padding:10px 1.5%;
}

div.actions h3 {
	padding-top:0;
	color:#777;
}

td.actions {
	text-align: center;
	white-space: nowrap;
}
table td.actions a {
	margin: 0px 6px;
	padding:2px 5px;
}

.actions ul {
	/*margin: 0;*/
	padding: 0;
}

.actions li {
	margin:0 0 0.5em 0;
	list-style-type: none;
	/*white-space: nowrap;*/
	padding: 0;
}

/*.actions ul li a {
	font-weight: normal;
	/*display: block;*/
	clear: both;
}*/

/*body,html{
	height: 100%;
}
*/
/* remove outer padding */
/*.main .row{
	padding: 0px;
	margin: 0px;
}
*/
/*Remove rounded coners*/


/**
 * Extra large button extensions. Extends `.btn`.
 */
.btn-xlarge,
.btn-group-lg > .btn {
  background-color: #504F4F;
  width: 250px !important;
  padding: 62px 62px;
  font-size: 26px;
  line-height: 1.33;
  border-radius: 8px;
}

.btn-xlarge {
    padding: 18px 28px;
    font-size: 22px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    }
