{% extends 'AppBundle::dashboard-standard.html.twig' %}

{% block title "Create Link" %}

{% block sidebar_actions %}
    <h3>Actions</h3>
    <ul class="nav nav-sidebar">
        <li>
            <a href="{{ path('link') }}">
                List Links
            </a>
        </li>
    </ul>
{% endblock %}

{% block body_content %}
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/admin-link-new.js') }}"></script>
	<h1>Create Link</h1>
	{{ form_start(form) }}
		{{ form_errors(form) }}
		{{ form_row(form.name) }}
		{{ form_row(form.description) }}
		{{ form_row(form.link) }}
	{{ form_end(form) }}
    <button id="btn-cancel" class="btn btn-primary" onclick="cancelForm('{{path("document")}}')" alt="Cancel" title="Return without editing this note.">Cancel</button>
{% endblock %}
