{% extends 'AppBundle::dashboard-standard.html.twig' %}

{% block title %}
    College: {{ entity.name }}
{% endblock %}

{% block sidebar_actions %}
    <h3>Actions</h3>
    <ul class="nav nav-sidebar">
        <li>
            <a href="{{ path('college') }}">
                List Colleges
            </a>
        </li>
        <li>
            <a href="{{ path('college_edit', { 'id': entity.id }) }}">
                Edit Current College
            </a>
        </li>
        <li>
            <a href="{{ path('add_college_library_resource', { 'id': entity.id }) }}">Add Resource</a>
        </li>
    </ul>
{% endblock %}

{% block body_content %}
    <h3>View College: {{ entity.name }}</h3>

    <div class="table-responsive">
        <table class="record_properties table table-striped">
            <tbody>
                <tr>
                    <th>Created</th>
                    <td>{{ entity.created|date('Y-m-d H:i:s') }}</td>
                </tr>
                <tr>
                    <th>Last Modified</th>
                    <td>{{ entity.modified|date('Y-m-d H:i:s') }}</td>
                </tr>
            </tbody>
        </table>
    </div>
        {{ form(delete_form, {'attr': {'onsubmit': 'return confirm("Are you sure you want to delete?")'}}) }}

    <h3>Departments</h3>
    <div class="table-responsive">
        <table class="records_list table table-striped">
            <tbody>
            {% for department in departments %}
                <tr>
                    <td><a href="{{ path('department_show', { 'id': department.id }) }}">{{ department.name }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <h3>Library Resources</h3>
    <div class="table-responsive">
        <table class="record_properties table table-hover">
            <thead>
                <tr>
                    <td>Database Name</td>
                    <td>Priority</td>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody>
                {% for db in dbPriority %}
                <tr>
                    <td><a href="{{ path('libraryresource_show', { 'id': db.resource.id }) }}">{{ db.resource.title }}</a></td>
                    <td>Yes</td>
                    <td>
                        <ul>
                            <li><a href="{{ path('toggle_college_library_resource_priority', {'id':entity.id, 'lrid':db.id}) }}">Toggle Priority</a>
                            <li><a href="{{ path('remove_college_library_resource', {'id':entity.id, 'lrid':db.id}) }}">Delete</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                {% endfor %}
                {% for db in dbList %}
                <tr>
                    <td><a href="{{ path('libraryresource_show', { 'id': db.resource.id }) }}">{{ db.resource.title }}</a></td>
                    <td>No</td>
                    <td>
                        <ul>
                            <li><a href="{{ path('toggle_college_library_resource_priority', {'id':entity.id, 'lrid':db.id}) }}">Toggle Priority</a>
                            <li><a href="{{ path('remove_college_library_resource', {'id':entity.id, 'lrid':db.id}) }}">Delete</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <h3>Roles with Contacts</h3>
    <div class="table-responsive">
        <table class="record_properties table table-hover">
            <tbody>
                {% for r in roles %}
                    {% for c in r.contacts %}
                        <tr>
                            <td><a href="{{ path('contactrolemapping_show', { 'id': r.id }) }}">{{r.role.roleName}}</a></td>
                            <td>{{c.displayName}}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
