{% extends 'AppBundle::dashboard-standard.html.twig' %}

{% block title %} Edit Note {% endblock %}

{% block body_content %}
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/project-note-edit.js') }}"></script>
	<h1>Edit Note</h1>
	{{ form(edit_form) }}
	<button id="btn-cancel" class="btn btn-primary" onclick="cancelForm({{entity.project.id}},{{entity.step.id}},{{entity.section.id}})" alt="Cancel" title="Return without editing this note.">Cancel</button>	
{% endblock %}
