{% extends 'AppBundle::dashboard-standard.html.twig' %}

{% block title "Add Note" %}

{% block body_content %}
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/project-note-edit.js') }}"></script>
	<h4>Add Note</h4>
	{{ form_start(form) }}
		{{ form_errors(form) }}
		{{ form_row(form.contents) }}
	{{ form_end(form) }}
	<button id="btn-cancel" class="btn btn-primary" onclick="cancelForm({{entity.project.id}},{{entity.step.id}},{{entity.section.id}})" alt="Cancel" title="Return without editing this note.">Cancel</button>	
{% endblock %}
