{% extends 'AppBundle::dashboard-standard.html.twig' %}

{% block title %}
    Group: {{ entity.name }}
{% endblock %}

{% block sidebar_actions %}
    <h3>Actions</h3>
    <ul class="nav nav-sidebar">
        <li>
            <a href="{{ path('group') }}">
                List Groups
            </a>
            <a href="{{ path('group_edit', { 'id': entity.id }) }}">
                Edit Current Group
            </a>

        </li>
    </ul>
{% endblock %}

{% block body_content %}
    <h1>View Group: {{ entity.name }}</h1>

    <div class="table-responsive">
        <table class="record_properties table table-striped">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ entity.id }}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ entity.name }}</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>{{ entity.status }}</td>
                </tr>
                <tr>
                    <th>Created</th>
                    <td>{{ entity.created|date('Y-m-d H:i:s') }}</td>
                </tr>
                <tr>
                    <th>Modified</th>
                    <td>{{ entity.modified|date('Y-m-d H:i:s') }}</td>
                </tr>
            </tbody>
        </table>

        {{ form(delete_form, {'attr': {'onsubmit': 'return confirm("Are you sure you want to delete?")'}}) }}
    </div>
{% endblock %}
