{% extends 'AppBundle::dashboard-standard.html.twig' %}

{% block title %}
    Insert New Layout Item
{% endblock %}

{% block body_content %}
    <h3>Insert Layout Item For: {{ layout.step.name }}/{{ layout.stepSection.name }}</h3>

    <div class="table-responsive">
        <table class="records_list table table-striped">
            <tbody>
                <tr>
                    <td>
                        <a href="{{ path('layout_add_static_layout_item', {'id': layout.id, 'order': order}) }}">Insert Markdown Item</a>
                    </td>
                </tr>

                <tr>
                    <td>
                        <a href="{{ path('layout_add_contact_layout_item', {'id': layout.id, 'order': order}) }}">Insert Contact Item</a>
                    </td>
                </tr>

                <tr>
                    <td>
                        <a href="{{ path('layout_add_role_layout_item', {'id': layout.id, 'order': order}) }}">Insert Role Item</a>
                    </td>
                </tr>

                <tr>
                    <td>
                        <a href="{{ path('layout_add_document_layout_item', {'id': layout.id, 'order': order}) }}">Insert Document Item</a>
                    </td>
                </tr>

                <tr>
                    <td>
                        <a href="{{ path('layout_add_link_layout_item', {'id': layout.id, 'order': order}) }}">Insert Link Item</a>
                    </td>
                </tr>

                <tr>
                    <td>
                        <a href="{{ path('layout_add_library_databases_item', {'id': layout.id, 'order': order}) }}">Insert Library Databases Item</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>    
{% endblock %}
