{% extends 'AppBundle::dashboard-standard.html.twig' %}

{% block title "Contacts" %}

{% block body_content %}
    <h3>Add Static Items for {{layout.step.name}}/{{layout.stepSection.name}}</h3>
    <div class="table-responsive">
        <table class="records_list table table-striped">
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Display Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Office Location</th>
                </tr>
            </thead>
            <tbody>
            {% for contact in contacts %}
                <tr>
                    <td>
                        <a href="{{ path('layout_insert_contact_layout_item', { 'id': layout.id, 'order': order, 'contactId' : contact.id }) }}">Insert</a>
                    </td>
                    <td>{{ contact.displayName }}</td>
                    <td><a href="mailto:{{ contact.contactEmail }}">{{ contact.contactEmail }}</a></td>
                    <td>{{ contact.contactPhone }}</td>
                    <td>{{ contact.officeLocation }}</td>                    
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
