{% extends 'AppBundle::dashboard-standard.html.twig' %}

{% block title "Documents" %}

{% block body_content %}
    <h3>Add Documents for {{layout.step.name}}/{{layout.stepSection.name}}</h3>
    <div class="table-responsive">
        <table class="records_list table table-striped">
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
            {% for document in documents %}
                <tr>
                    <td>
                        <a href="{{ path('layout_insert_document_layout_item', { 'id': layout.id, 'order': order, 'documentId' : document.id }) }}">Insert</a>
                    </td>
                    <td>
                        {{ document.name }}
                    </td>
                    <td>
                        {{ document.description }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
