{% extends 'AppBundle::dashboard-standard.html.twig' %}

{% block title "Links" %}

{% block body_content %}
    <h3>Add Links for {{layout.step.name}}/{{layout.stepSection.name}}</h3>
    <div class="table-responsive">
        <table class="records_list table table-striped">
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Link</th>
                </tr>
            </thead>
            <tbody>
            {% for link in links %}
                <tr>
                    <td>
                        <a href="{{ path('layout_insert_link_layout_item', { 'id': layout.id, 'order': order, 'linkId' : link.id }) }}">Insert</a>
                    </td>
                    <td>
                        {{ link.name }}
                    </td>
                    <td>
                        {{ link.description }}
                    </td>
                    <td>
                        <a href="{{link.link}}">{{link.link}}</a>
                    </td>                            
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
