{% extends 'AppBundle::dashboard-standard.html.twig' %}

{% block title "Roles" %}

{% block body_content %}
    <h3>Add Roles for {{layout.step.name}}/{{layout.stepSection.name}}</h3>
    <div class="table-responsive">
        <table class="records_list table table-striped">
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Role Name</th>
                </tr>
            </thead>
            <tbody>
            {% for role in roles %}
                <tr>
                    <td>
                        <a href="{{ path('layout_insert_role_layout_item', { 'id': layout.id, 'order': order, 'roleId' : role.id }) }}">Insert</a>
                    </td>
                    <td>
                        {{ role.roleName }}
                    </td>                            
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
