{% extends 'AppBundle::dashboard-standard.html.twig' %}

{% block title "Static Items" %}

{% block body_content %}
    <h3>Add Static Items for {{layout.step.name}}/{{layout.stepSection.name}}</h3>
    <div class="table-responsive">
        <table class="records_list table table-striped">
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Content</th>
                </tr>
            </thead>
            <tbody>
            {% for item in staticItems %}
                <tr>
                    <td>
                        <a href="{{ path('layout_insert_static_layout_item', { 'id': layout.id, 'order': order, 'itemId' : item.id }) }}">Insert</a>
                    </td>
                    <td>
                        {{ item.contents|markdown }}
                    </td>                            
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
