{% extends 'AppBundle::dashboard-standard.html.twig' %}

{% block title %} "Edit Layout: " {{ entity.name }} {% endblock %}

{% block sidebar_actions %}
    <h3>Actions</h3>
    <ul class="nav nav-sidebar">
        <li>
            <a href="{{ path('layout') }}">
                List Layouts
            </a>
        </li>
        <li>
            <a href="{{ path('layout_show', { 'id': entity.id }) }}">
                Show this Layout
            </a>
        </li>
    </ul>
{% endblock %}

{% block body_content %}
	<h1>Edit Layout: {{ entity.name }}</h1>
	{{ form(edit_form) }}
    {{ form(delete_form, {'attr': {'onsubmit': 'return confirm("Are you sure you want to delete?")'}}) }}
    <a href="{{ path('layout') }}">Cancel</a>
{% endblock %}
