{% extends 'AppBundle::dashboard-standard.html.twig' %}

{% block title "Layouts" %}

{% block sidebar_actions %}
    <h3>Actions</h3>
{% endblock %}

{% block body_content %}
    <h1>Layouts</h1>
    <div class="table-responsive">
        <table class="records_list table table-striped">

            <thead>
                <tr>
                    <th>Step</th>
                    <th>Section</th>
                    <th>Created</th>
                    <th>Modified</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('step_show', { 'id': entity.step.id }) }}">{{ entity.step.name }}</a></td>
                    <td><a href="{{ path('stepsection_show', { 'id': entity.stepSection.id }) }}">{{ entity.stepSection.name }}</a></td>
                    <td>{% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{% if entity.modified %}{{ entity.modified|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>
                        <a href="{{ path('layout_show', { 'id': entity.id }) }}">View/Modify Layout</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
