{% extends 'AppBundle::dashboard-standard.html.twig' %}

{% block title "Create Layout" %}

{% block sidebar_actions %}
    <h3>Actions</h3>
    <ul class="nav nav-sidebar">
        <li>
            <a href="{{ path('layout') }}">
                List Layouts
            </a>
        </li>
    </ul>
{% endblock %}

{% block body_content %}
	<h1>Create Layout</h1>
	{{ form_start(form) }}
		{{ form_errors(form) }}
		{{ form_row(form.step) }}
		{{ form_row(form.stepSection) }}
	{{ form_end(form) }}
{% endblock %}
