{% extends 'AppBundle::dashboard-standard.html.twig' %}

{% block title %}
    View Layout
{% endblock %}

{% block sidebar_actions %}
    <h3>Actions</h3>
    <ul class="nav nav-sidebar">
        <li>
            <a href="{{ path('layout') }}">
                List Layouts
            </a>
{#             <a href="{{ path('layout_edit', { 'id': entity.id }) }}">
                Edit Current Layout
            </a>
 #}        </li>
    </ul>
{% endblock %}

{% block body_content %}
    <h3>Layout Items for Step {{entity.step.ordering}}: {{entity.step.name}}/{{entity.stepSection.name}}</h3>
    {% if items is empty %}
        <h3><a href="{{ path('layout_add_at', {'id':entity.id, 'order':1}) }}">Insert Item</a></h3>
    {% else %}
        <div class="table-responsive">
            <table class="records_list table table-striped">
                <thead>
                    <tr>
                        <th>Content</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in items %}
                    <tr>
                        <td>
                            {% if item is staticMarkdown %}
                                {{ item.staticItem.contents|markdown }}
                            {% elseif item is contact %}
                                <strong>Contact:</strong> <br />
                                {{ item.contact.displayName}}
                                {% if item.contact.contactPhone %} 
                                    {{ item.contact.contactPhone}}
                                {% endif %}
                                {% if item.contact.officeLocation %}
                                    {{ item.contact.officeLocation}}
                                {% endif %}
                                {% if item.contact.contactEmail %}
                                    <a href="mailto:{{ item.contact.contactEmail }}">{{ item.contact.contactEmail}}</a> 
                                {% endif %}
                            {% elseif item is role %}
                                <strong>Role:</strong> {{ item.role.roleName }}
                            {% elseif item is document %}
                                <strong>Document:</strong> 
                                <a href="/{{item.document.getWebPath}}" {% if item.document.description %} title="{{ item.document.description }}" {% endif %} target="_blank">{{ item.document.name }}</a>
                            {% elseif item is link %}
                                <strong>Link: </strong><a href="{{ item.link.link }}" target="_blank" {% if item.link.description %}title="{{ item.link.description }}" {% endif %}>{{ item.link.name }}</a>
                            {% elseif item is libraryResource %}
                                <strong>Library Databases</strong>
                            {% endif %}                
                        </td>
                        <td>
                            <ul>
                                <li><a href="{{ path('layout_add_at', {'id':entity.id, 'order':item.order}) }}">Insert Above</a></li>
                                <li><a href="{{ path('layout_add_at', {'id':entity.id, 'order':item.order+1}) }}">Insert Below</a></li>
                                <li><a href="{{ path('move_up_layout_item', { 'id': entity.id, 'itemId': item.id }) }}">Move Up</a></li>
                                <li><a href="{{ path('move_down_layout_item', { 'id': entity.id, 'itemId': item.id }) }}">Move Down</a></li>
                                <li><a href="{{ path('delete_layout_item', {'id':entity.id, 'itemId':item.id}) }}">Delete</a></li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>    
    {% endif %}    
{% endblock %}
