{% extends 'AppBundle::dashboard-standard.html.twig' %}

{% block title %} "Edit Allowed User" {% endblock %}

{% block sidebar_actions %}
    <h3>Actions</h3>
    <ul class="nav nav-sidebar">
        <li>
            <a href="{{ path('alloweduser') }}">
                List Allowed Users
            </a>
        </li>
        <li>
            <a href="{{ path('alloweduser_show', { 'id': entity.id }) }}">
                Show this User
            </a>
        </li>
    </ul>
{% endblock %}

{% block body_content %}
	<h1>Edit Allowed User</h1>
	{{ form(edit_form) }}
    {{ form(delete_form, {'attr': {'onsubmit': 'return confirm("Are you sure you want to delete?")'}}) }}
    <a href="{{ path('alloweduser') }}">Cancel</a>
{% endblock %}
