{% extends 'AppBundle::dashboard-standard.html.twig' %}

{% block title "Create Allowed User" %}

{% block sidebar_actions %}
    <h3>Actions</h3>
    <ul class="nav nav-sidebar">
        <li>
            <a href="{{ path('alloweduser') }}">
                List Allowed Users
            </a>
        </li>
    </ul>
{% endblock %}

{% block body_content %}
	<h1>Create Allowed User</h1>
	{{ form_start(form) }}
		{{ form_errors(form) }}
		{{ form_row(form.email) }}
	{{ form_end(form) }}
{% endblock %}
