{% extends 'AppBundle::dashboard-standard.html.twig' %}

{% block title %}
    Allowed User
{% endblock %}

{% block sidebar_actions %}
    <h3>Actions</h3>
    <ul class="nav nav-sidebar">
        <li>
            <a href="{{ path('alloweduser') }}">
                List Allowed Users
            </a>
            <a href="{{ path('alloweduser_edit', { 'id': entity.id }) }}">
                Edit Current Allowed User
            </a>

        </li>
    </ul>
{% endblock %}

{% block body_content %}
    <h1>View Allowed User</h1>

    <div class="table-responsive">
        <table class="record_properties table table-striped">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ entity.id }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ entity.email }}</td>
                </tr>
                <tr>
                    <th>Created</th>
                    <td>{{ entity.created|date('Y-m-d H:i:s') }}</td>
                </tr>
                <tr>
                    <th>Modified</th>
                    <td>{{ entity.modified|date('Y-m-d H:i:s') }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    {{ form(delete_form) }}
{% endblock %}
