{% extends 'AppBundle::dashboard-standard.html.twig' %}

{% block title "Create Role" %}

{% block sidebar_actions %}
    <h3>Actions</h3>
    <ul class="nav nav-sidebar">
        <li>
            <a href="{{ path('role') }}">
                List Roles
            </a>
        </li>
    </ul>
{% endblock %}

{% block body_content %}
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/admin-role-new.js') }}"></script>
	<h1>Create Role</h1>
	{{ form_start(form) }}
		{{ form_errors(form) }}
		{{ form_row(form.roleName) }}
	{{ form_end(form) }}
    <button id="btn-cancel" class="btn btn-primary" onclick="cancelForm('{{path("role")}}')" alt="Cancel" title="Return without editing this note.">Cancel</button>
{% endblock %}
