{% extends 'AppBundle::dashboard-standard.html.twig' %}

{% block title %} View Role: {{ entity.roleName }} {% endblock %}

{% block sidebar_actions %}
    <h3>Actions</h3>
    <ul class="nav nav-sidebar">
        <li>
            <a href="{{ path('role') }}">
                List Roles
            </a>
        </li>
        <li>
            <a href="{{ path('role_edit', { 'id': entity.id }) }}">
                Edit This Role
            </a>
        </li>        
    </ul>
{% endblock %}

{% block body_content %}
    <h1>View Role: {{ entity.roleName }}</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Created On</th>
                <td>{{ entity.created|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Last Modified On</th>
                <td>{{ entity.modified|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('contactrolemapping_new', {'roleId': entity.id}) }}">Create New Contact/Role Mapping</a>

    {{ form(delete_form, {'attr': {'onsubmit': 'return confirm("Are you sure you want to delete?")'}}) }}
{% endblock %}
