{% extends 'AppBundle::dashboard-standard.html.twig' %}

{% block title %} "Edit User: " {{ entity.displayName }} {% endblock %}

{% block sidebar_actions %}
    <h3>Actions</h3>
    <ul class="nav nav-sidebar">
        <li>
            <a href="{{ path('user') }}">
                List Users
            </a>
        </li>
        <li>
            <a href="{{ path('user_show', { 'id': entity.id }) }}">
                Show this User
            </a>
        </li>
    </ul>
{% endblock %}

{% block body_content %}
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/admin-user-edit.js') }}"></script>
	<h1>Edit User: {{ entity.displayName }}</h1>
	{{ form(edit_form) }}
    {{ form(delete_form, {'attr': {'onsubmit': 'return confirm("Are you sure you want to delete?")'}}) }}
    <button id="btn-cancel" class="btn btn-primary" onclick="cancelForm('{{path("user")}}')" alt="Cancel" title="Return without editing this note.">Cancel</button>
{% endblock %}
