{% extends 'AppBundle::dashboard-standard.html.twig' %}

{% block title "Users" %}

{% block sidebar_actions %}
    <h3>Actions</h3>
    <ul class="nav nav-sidebar">
        <li>
            <a href="{{ path('user_new') }}">
                Create User
            </a>
        </li>
    </ul>
{% endblock %}

{% block body_content %}
    {{ knp_pagination_render(pagination) }}
    <h1>Users</h1>
    <div class="table-responsive">
        <table class="records_list table table-striped">

            <thead>
                <tr>
                    <th>Username</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Displayname</th>
                    <th>Phonenumber</th>
                    <th>Campuslocation</th>
                    <th>Email</th>
                    <th>Created</th>
                    <th>Modified</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in pagination %}
                <tr>
                    <td><a href="{{ path('user_show', { 'id': entity.id }) }}">{{ entity.username }}</a></td>
                    <td>{{ entity.firstName }}</td>
                    <td>{{ entity.lastName }}</td>
                    <td>{{ entity.displayName }}</td>
                    <td>{{ entity.phoneNumber }}</td>
                    <td>{{ entity.campusLocation }}</td>
                    <td>{{ entity.email }}</td>
                    <td>{% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{% if entity.modified %}{{ entity.modified|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>
                    <ul>
                        <li>
                            <a href="{{ path('user_show', { 'id': entity.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('user_edit', { 'id': entity.id }) }}">edit</a>
                        </li>
                    </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {{ knp_pagination_render(pagination) }}
{% endblock %}
