{% extends 'AppBundle::dashboard-standard.html.twig' %}

{% block title "Create User" %}

{% block sidebar_actions %}
    <h3>Actions</h3>
    <ul class="nav nav-sidebar">
        <li>
            <a href="{{ path('user') }}">
                List Users
            </a>
        </li>
    </ul>
{% endblock %}

{% block body_content %}
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/admin-user-new.js') }}"></script>
	<h1>Create User</h1>
	{{ form_start(form) }}
		{{ form_errors(form) }}
		{{ form_row(form.username) }}
		{{ form_row(form.firstName) }}
		{{ form_row(form.lastName) }}
		{{ form_row(form.displayName) }}
		{{ form_row(form.phoneNumber) }}
		{{ form_row(form.campusLocation) }}
		{{ form_row(form.email) }}
	{{ form_end(form) }}
    <button id="btn-cancel" class="btn btn-primary" onclick="cancelForm('{{path("user")}}')" alt="Cancel" title="Return without editing this note.">Cancel</button>
{% endblock %}
