{% extends 'AppBundle::dashboard-standard.html.twig' %}

{% block title %} "Profile for " {{ entity.displayName }} {% endblock %}

{% block body_content %}
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/user-profile.js') }}"></script>
	<h3>Your Research Compass Profile</h3>
    {{ form_start(edit_form) }}
        {{ form_errors(edit_form) }}

        {{ form_row(edit_form.firstName) }}
        {{ form_row(edit_form.lastName) }}
        {{ form_row(edit_form.displayName) }}
        {{ form_row(edit_form.department) }}
        {{ form_row(edit_form.phoneNumber) }}
        {{ form_row(edit_form.campusLocation) }}
        {{ form_row(edit_form.email) }}
    {{ form_end(edit_form) }}
    <button id="btn-cancel" class="btn btn-primary" onclick="cancelForm('{{path("project")}}')" alt="Cancel" title="Return without editing this note.">Cancel</button>
	
{% endblock %}
