{% extends 'AppBundle::dashboard-standard.html.twig' %}

{% block title %}
    User: {{ entity.displayName }}
{% endblock %}

{% block sidebar_actions %}
    <h3>Actions</h3>
    <ul class="nav nav-sidebar">
        <li>
            <a href="{{ path('user') }}">
                List Users
            </a>
            <a href="{{ path('user_edit', { 'id': entity.id }) }}">
                Edit Current User
            </a>

        </li>
    </ul>
{% endblock %}

{% block body_content %}
    <h1>View User: {{ entity.displayName }}</h1>

    <div class="table-responsive">
        <table class="record_properties table table-striped">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ entity.id }}</td>
                </tr>
                <tr>
                    <th>Username</th>
                    <td>{{ entity.username }}</td>
                </tr>
                <tr>
                    <th>Firstname</th>
                    <td>{{ entity.firstName }}</td>
                </tr>
                <tr>
                    <th>Lastname</th>
                    <td>{{ entity.lastName }}</td>
                </tr>
                <tr>
                    <th>Displayname</th>
                    <td>{{ entity.displayName }}</td>
                </tr>
                <tr>
                    <th>Phonenumber</th>
                    <td>{{ entity.phoneNumber }}</td>
                </tr>
                <tr>
                    <th>Department</th>
                    <td>{% if entity.department %}
                            {{ entity.department.name }}
                        {% else %}
                            None Selected
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Campuslocation</th>
                    <td>{{ entity.campusLocation }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ entity.email }}</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>{{ entity.status }}</td>
                </tr>
                <tr>
                    <th>Created</th>
                    <td>{{ entity.created|date('Y-m-d H:i:s') }}</td>
                </tr>
                <tr>
                    <th>Modified</th>
                    <td>{{ entity.modified|date('Y-m-d H:i:s') }}</td>
                </tr>
            </tbody>
        </table>
        {{ form(delete_form, {'attr': {'onsubmit': 'return confirm("Are you sure you want to delete?")'}}) }}
    </div>
{% endblock %}
