{% extends 'AppBundle::dashboard-standard.html.twig' %}

{% block title "Create Mapping" %}

{% block sidebar_actions %}
    <h3>Actions</h3>
    <ul class="nav nav-sidebar">
        <li>
            <a href="{{ path('role') }}">
                List Roles
            </a>
        </li>
    </ul>
{% endblock %}

{% block body_content %}
	<h1>Create Mapping</h1>
    {{ form_start(form) }}
        {{ form_errors(form) }}
        
        {{ form_label(form.role, "Selected Role") }}
        {{ form_widget(form.role, { 'read_only': true }) }}

        {{ form_label(form.contacts, "Select Contacts", { 'required': true }) }}
        {{ form_widget(form.contacts, { 'required': true }) }}

        {{ form_label(form.colleges, "Select Colleges") }}
        {{ form_widget(form.colleges) }}

        {{ form_label(form.departments, "Select Departments") }}
        {{ form_widget(form.departments) }}
    {{ form_end(form) }}

    <a href="{{ path('role_show', { 'id' : entity.role.id }) }}">
        Return to Role {{ entity.role.roleName }} 
    </a>
{% endblock %}
